.button {
    position: relative;
    font-family: Shrikhand-Regular;
    background-color: #ff6b54;
    border: 1px solid #0d5899;
    border-radius: 40px;
    font-size: 40px;
    line-height: 1;
    color: white;
    padding: 6px 12px;
    font-weight: 700;

    outline: 4px solid #ff6b54;
}

.button:hover {
    color: #0d5899;
}

.button:active {
    background-color: #ff3f21;
}

.button:disabled {
    background-color: #bbb;
}

.sm {
    font-size: 20px;
}

