body {
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.87);
    background-color: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif;

    overscroll-behavior: none;
}

@font-face {
    font-family: "Shrikhand-Regular";
    src: url("/assets/fonts/Shrikhand-Regular.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "JinHeiFont";
    src: url("/assets/fonts/JinHeiFont.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Lemon-Regular";
    src: url("/assets/fonts/Lemon-Regular.ttf") format("truetype");
    font-display: swap;
}

* {
    box-sizing: border-box;
}

