.main {
    width: min(400px, 100dvw);
    height: 100dvh;
    overflow-y: hidden;
    margin: 0px auto;
    background-color: #0d5899;

    position: relative;
}

.gameContainer {
    position: absolute;
    left: 0;
    top: 0;

    width: min(400px, 100dvw);
    height: 100dvh;
    overflow: hidden;
}

